---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;

const id = url.split("/").at(-2);
---

<div>
  <img
    src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`}
    alt=""
  />
  <span>{name}</span>
</div>
